.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 480px;
}

.footer {
    text-align: center;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    opacity: 0.8;
}