.main {
    flex: 1;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1324px;
    margin: auto;
}

.statsColumn {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    min-width: 80px;
}

.doneOrderNumber {
    color: #00CCCC;
}
