.main {
    flex: 1;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1324px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}