.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.image {
    object-fit: contain;
}

.priceContainer {
    display: flex;
    align-items: center;
}

.nameContainer {
    text-align: center;
}